/*color*/
/*primary*/
/*neutral*/
/*spacing*/
/*font weight*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/*text*/
.text_Display_1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

.text_Display_2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
}

.text_label_lg {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_label_md {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_label_sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_label_xs {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_p_lg {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_p_md {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_p_sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5%;
}

.text_p_xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5%;
}

/*link*/
.link_text {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 48px;
  color: #212529;
}
.link_text:hover {
  color: #6C757D;
}

/*button*/
.button_text {
  display: inline-block;
  border-radius: var(--radius-xs);
  padding: 12px 24px;
  gap: 8px;
  width: 171px;
  height: 48px;
  min-height: 48px;
  text-align: center;
}
.button_text .primary {
  background-color: #C0FA73;
  color: #212529;
}
.button_text .primary:hover {
  color: #477A11;
}
.button_text .neutral_filled {
  background-color: #212529;
  color: #FFFFFF;
}
.button_text .neutral_filled:hover {
  background-color: #495057;
}
.button_text .neutral_outlined {
  border: 1px #212529;
  color: #212529;
}
.button_text .neutral_outlined:hover {
  background-color: #212529;
  color: #FFFFFF;
}

.button_icon {
  border-radius: var(--radius-xs);
  padding: 12px;
  align-items: center;
  justify-content: center;
}
.button_icon:hover {
  fill: #57A203;
}

body {
  width: 1920px;
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  margin-left: 312px;
  margin-right: 312px;
  max-width: 1296px;
}

.navbar {
  display: flex;
  height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}
.navbar .logo_and_link {
  display: flex;
  gap: 48px;
}

.hero_section {
  height: 800px;
  background-image: url(../../assets/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_section .content {
  position: absolute;
  top: 289px;
  left: 200px;
  width: 586px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: #FFFFFF;
}/*# sourceMappingURL=all.css.map */