/*text*/
.text_Display_1{
    font-size: 4rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

$Display_1 : ".text_Display_1";

.text_Display_2{
    font-size: 3rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

$Display_2 : ".text_Display_2";

h1{
    font-size: 2.5rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

h2{
    font-size: 2rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

h3{
    font-size: 1.75rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

h4{
    font-size: 1.5rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

h5{
    font-size: 1.25rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

h6{
    font-size: 1rem;
    font-weight: $bold;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.text_label_lg{
    font-size: 1.25rem;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_label_md{
    font-size: 1rem;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_label_sm{
    font-size: 0.875rem;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_label_xs{
    font-size: 0.75rem;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_p_lg{
    font-size: 1.25rem;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_p_md{
    font-size: 1rem;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_p_sm{
    font-size: 0.875rem;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.text_p_xs{
    font-size: 0.75rem;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.05em;
}


/*link*/

.link_text{
    display: inline-block;
    padding-top: $spacing-s;
    padding-bottom: $spacing-s;
    min-height: 48px;
    cursor: default;
    color: $neutral-color-900;
    &:hover{
        color: $neutral-color-600;
    }
}


/*button*/

.button_text{
    display: inline-block;
    border-radius: $radius-sm;
    padding: $spacing-s $spacing-l;
    gap: $spacing-xs;
    width: max-content;
    min-height: 48px;
    text-align: center;
    cursor: default;
}

.button_color_primary{
    background-color: $primary-color-300;
    color: $neutral-color-900;
    &:hover{
        color: $primary-color-500;
    }
}

.button_neutral_filled{
    background-color: $neutral-color-900;
    color: $neutral-color-0;
    &:hover{
        background-color: $neutral-color-700;
    }
}

.button_neutral_outlined{
    border: 1px $neutral-color-900;
    color: $neutral-color-900;
    &:hover{
        background-color: $neutral-color-900;
        color: $neutral-color-0;
    }
}

.button_icon{
    display: inline-block;
    max-width: 48px;
    max-height: 48px;
    border-radius: var(--radius-xs);
    padding: $spacing-s;
    align-items: center;
    justify-content: center;
    &:hover{
        color: $primary-color-400;
    }
}

/*icon*/

.bi-person{
    font-size: 1.5rem;
}