@media screen and (max-width: 375px) {
    .container{
        margin-left: 3.2%;
        margin-right: 3.2%;
        max-width: 93.6%;
    }
    
    .navbar{
        display: none;
    }

    .navbar_mobile{
        display: flex;
        flex-direction: column;
        height: 120px;
        width: 100%;
        .logo_and_profile{
            height: 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .link{
            display: flex;
            text-align: center;
            align-items: center;
            .product{
                background-color: $primary-color-200;
                width: 50%;
            }
            .brand{
                background-color: $primary-color-100;
                width: 50%;
            }
        }
    }

    .hero_section{
        
    }

    .new_arrival{
        display: none;
    }

    .best_seller{
        display: none;
    }

    .section_sale{
        display: none;
    }

    .series{
        display: none;
    }

    .style{
        display: none;
    }

    .call_to_action{
        display: none;
    }

    footer{
        display: none;
    }
}