@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');



body{
    max-width: 1920px;
    font-family: "Noto Sans TC";
    letter-spacing: $letter-spacing;
}



.container{
    margin-left: 16.25%;
    margin-right: 16.25%;
    max-width: 67.5%;
}


.Navbar{
    height: 80px;
    .container{
        padding-top: $spacing-m;
        padding-bottom: $spacing-m;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo_n_link{
            display: flex;
            gap: $spacing-3xl;
            .page_link{
                display: flex;
                gap: $spacing-2xl;
                .link_text{
                    font-size: $font-size-l-md;
                    font-weight: $font-weight-l;
                    line-height: $line-height-l;
                }
            }
        }
    }
    .page_link{
        display: none;
    }
}

.Hero_Section{
    height: 800px;
    background-image: url(../../assets/banner.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    align-items: center;
    position: relative;
    .content{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: $spacing-3xl;
        width: 30.52%;
        top: 50%;
        left: 10.4%;
        transform: translateY(-50%);

        color: $neutral-color-0;
        .titles{
            gap: $spacing-m;
            .title{
                font-size: $font-size-Display-1;
                font-weight: $font-weight-display;
                line-height: $line-height-display;
            }
            .subtitle{
                font-size: $font-size-H3;
                font-weight: $font-weight-heading;
                line-height: $line-height-heading;
            }
        }
        
    }
}

.New_Arrival{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        .titles{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-s;
            .title{
                font-size: $font-size-Display-2;
                font-weight: $font-weight-display;
                line-height: $line-height-display;
            }
            .subtitle{
                font-size: $font-size-H2;
                font-weight: $font-weight-heading;
                line-height: $line-height-heading;
            }
        }
        .product{
            display: flex;
            flex-direction: column;
            gap: $spacing-2xl;
            .card_wrapper{
                display: flex;
                gap: $spacing-l;
                .card{
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-s;
                    cursor: default;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                    .label{
                        display: flex;
                        flex-direction: column;
                        gap: $spacing-xxs;
                        .name{
                            font-size: $font-size-H5;
                            font-weight: $font-weight-heading;
                            line-height: $line-height-heading;
                        }
                        .price{
                            font-size: $font-size-l-md;
                            font-weight: $font-weight-l;
                            line-height: $line-height-l;
                        }
                    }
                }
            }
        }
    }
}

.Best_Seller{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
        .title{
            height: 48px;
            display: flex;
            gap: $spacing-l;
            align-items: center;
            font-size: $font-size-H2;
            font-weight: $font-weight-heading;
            line-height: $line-height-heading;
        }
        .card_wrapper{
            display: flex;
            gap: $spacing-l;
            .card{
                max-height: 306px;
                position: relative;
                
                img{
                    height: 100%;
                    width: 100%;
                }
                .label{
                    padding-top: $spacing-xs;
                    padding-bottom: $spacing-xs;
                    padding-right: $spacing-s;
                    padding-left: $spacing-s;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $primary-color-100;
                    color: $primary-color-400;
                    font-size: $font-size-l-sm;
                    font-weight: $font-weight-l;
                    line-height: $line-height-l;
                }
                &:hover{
                    img{
                        opacity: 70%;
                    }
                }
            }
        }
    }
}

.Sale{
    padding-top: $spacing-3xl;
    padding-bottom: $spacing-3xl;
    .sale_img{
        background-image: url(../../assets/banner-co-branded.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px $spacing-6xl;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .context{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $spacing-3xl;
            position: relative;
            width: fit-content;
            .text{
                display: flex;
                flex-direction: column;
                gap: $spacing-xl;
                .titles{
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-m;
                    align-items: center;
                    .title{
                        display: flex;
                        gap: $spacing-l;
                        .text_neutral{
                            font-size: $font-size-Display-2;
                            font-weight: $font-weight-display;
                            line-height: $line-height-display;
                            color: $neutral-color-0;
                        }
                        .text_primary{
                            font-size: $font-size-H1;
                            font-weight: $font-weight-heading;
                            line-height: $line-height-heading;
                            color: $primary-color-300;
                        }
                    }
                    .subtitle{
                        font-size: $font-size-H2;
                        font-weight: $font-weight-heading;
                        line-height: $line-height-heading;
                        color: $neutral-color-0;
                    }
                }
                .text_grey{
                    font-size: $font-size-p-lg;
                    font-weight: $font-weight-p;
                    line-height: $line-height-p;
                    color: $neutral-color-500;
                }
                .paragraph{
                    display: none;
                }
            }
            .star{
                height: 48px;
                width: 48px;
                flex: none;
                position: absolute;
                left: -80px;
                top: -32px;
                z-index: 2;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .sparkle{
                width: 76px;
                height: 64px;
                position: absolute;
                right: -40px;
                top: calc(50% - 64px/2 + 71px);
                z-index: 3;
                img{
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }
    }
}

.Series{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
        .title{
            font-size: $font-size-H2;
            font-weight: $font-weight-heading;
            line-height: $line-height-heading;
            color: $neutral-color-900;
        }
        .card_wrapper{
            display: flex;
            gap: $spacing-l;
            .card{
                max-height: 306px;
                width: 100%;
                display: inline-block;
                cursor: default;
                position: relative;
                img{
                    height: 100%;
                    width: 100%;
                    filter: brightness(60%);
                }
                .label{
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-xs;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    .text_en{
                        font-size: $font-size-H3;
                        font-weight: $font-weight-heading;
                        line-height: $line-height-heading;
                        color: $neutral-color-0;
                    }
                    .text_ch{
                        font-size: $font-size-H4;
                        font-weight: $font-weight-heading;
                        line-height: $line-height-heading;
                        color: $neutral-color-0;
                    }
                }
                &:hover{
                    .text_en{
                        color: $primary-color-300;
                    }
                }
            }
        }
    }
}

.Style{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    color: $neutral-color-900;
    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;

        .title{
            font-size: $font-size-H2;
            font-weight: $font-weight-heading;
            line-height: $line-height-heading;
        }

        .card_wrapper{
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(6,1fr);
            column-gap: $spacing-xs;
            row-gap: $spacing-xs;
            img{
                width: 100%;
                height: 100%
            };
            .left_l_grid{
                grid-column: 5 / 7;
                grid-row: 1 / 3;
            }
            .right_l_grid{
                grid-column: 1 / 3;
                grid-row: 2 / 4;
            }
        }
    }
}

.Call_to_Action{
    padding-top: $spacing-3xl;
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 96px;
        background-color: $primary-color-200;
        padding-top: $spacing-l;
        padding-bottom: $spacing-l;
        gap: $spacing-l;
        .text{
            color: $neutral-color-900;
            font-size: $font-size-H4;
            font-weight: $font-weight-heading;
            line-height: $line-height-heading;
        }
    }
}

footer{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .logo_n_link{
        display: flex;
        justify-content: space-between;
        .page_link{
            display: flex;
            gap: $spacing-2xl;
        }
    }
    .copyright{
        padding-top: $spacing-xl;
        border-top: 1px solid $neutral-color-300;
        .text{
            text-align: center;
            color: $neutral-color-600;
            font-size: $font-size-p-sm;
            font-weight: $font-weight-p;
            line-height: $line-height-p;
        }
    }
}

/*
.navbar{
    display: flex;
    height: 80px;
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
    justify-content: space-between;
    .logo_and_link{
        display: flex;
        gap: $spacing-3xl;
    }   
}



.navbar_mobile{
    display: none;
}

.hero_section{
    position: relative;

    img{
        width: 100%;
        max-height: 800px;
    }
    .content{
        position: absolute;
        width: 586px;
        height: fit-content;
        display: flex;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        flex-direction: column;
        align-items: flex-start;
        gap:$spacing-3xl;
        color: $neutral-color-0;
        .title{
            display: flex;
            flex-direction: column;
            gap: $spacing-m;
        }
    }
}

.new_arrival{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    background-color: $neutral-color-0;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-xl;
        .title{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: $spacing-s
        }

        .card_wrapper{
            display: flex;
            gap: $spacing-l;
            .product{
                display: flex;
                flex-direction: column;
                gap: $spacing-s;
                cursor: default;
                img{
                    width: 100%;
                    height: 100%;
                }
                .label{
                    gap: $spacing-xxs;
                    color: $neutral-color-900;
                }
                &:hover{
                    opacity: 80%;
                }
            }
        }
    }
    
    
}

.best_seller{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .content{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
        .card_wrapper{
            display: flex;
            gap: $spacing-l;
            max-height: 306px;
            .card_image{
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    
                }
                .badge{
                    position: absolute;
                    padding: $spacing-xs $spacing-s;
                    top: 0px;
                    left: 0px;
                    background-color: $primary-color-100;
                    color: $primary-color-400;
                    cursor: default;
                }
                &:hover{
                    img{
                        opacity: 70%;
                    }
                }
            }
        }
    }
}

.section_sale{
    padding-top: $spacing-3xl;
    padding-bottom: $spacing-3xl;
    .sale{
        background-image: url(../../assets/banner-co-branded.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px $spacing-6xl;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: $spacing-3xl;
            position: relative;
            width: fit-content;
            
            .title{
                display: flex;
                flex-direction: column;
                gap: $spacing-m;
                color: $neutral-color-0;
                text-align: center;
                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: $spacing-l;
                    h1{
                        color: $primary-color-300;
                    }
                }
                .text_p_lg{
                    color: $neutral-color-500;
                }
            }
            .star{
                position: absolute;
                left: -80px;
                top: -32px;
                z-index: 2;
            }
            .sparkle{
                position: absolute;
                right: -40px;
                top: calc(50% - 64px/2 + 71px);
                z-index: 3;
            }
        }
    }
}

.series{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .content{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
        color: $neutral-color-900;
        .card_wrapper{
            display: flex;
            //justify-content: space-between;
            gap: $spacing-l;
            max-height: 306px;
            .category{
                position: relative;
                display: inline-block;
                cursor: default;
                max-height: 306px;
                aspect-ratio: 1 / 1;
                img{
                    width: 100%;
                    filter: brightness(60%);
                }
                .label{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-xs;
                    color: $neutral-color-0;
                    
                }
                &:hover{
                    h3{
                        color: $primary-color-300;
                    }
                }
            }
        }
    }
}

.style{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    color: $neutral-color-900;
    .content{
        display: flex;
        flex-direction: column;
        
        gap: $spacing-m;

        .card_wrapper{
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(6,1fr);
            column-gap: $spacing-xs;
            row-gap: $spacing-xs;
            img{
                width: 100%;
                height: 100%
            };
            .left_l_grid{
                grid-column: 5 / 7;
                grid-row: 1 / 3;
            }
            .right_l_grid{
                grid-column: 1 / 3;
                grid-row: 2 / 4;
            }
        }
    }
    
}

.call_to_action{
    padding-top: $spacing-3xl;
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 96px;
        background-color: $primary-color-200;
        padding-top: $spacing-l;
        padding-bottom: $spacing-l;
        gap: $spacing-l;
        color: $neutral-color-900;
    }
}

footer{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    background-color: $neutral-color-100;

    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-l;
        .logo_and_link{
            display: flex;
            justify-content: space-between;
            .page_link{
                gap: $spacing-2xl;
                display: flex;
            }
        }
        .copyright{
            padding-top: $spacing-xl;
            border-top: 1px solid $neutral-color-300;
            .text_p_sm{
                color: $neutral-color-600;
                text-align: center;
            }
        }
    }
}

*/

