
@media screen and (max-width: 375px) {
    .container{
        margin-left: 3.2%;
        margin-right: 3.2%;
        max-width: 93.6%;
    }
    
    .Navbar{
        height: 120px;
        .container{
            padding-top: $spacing-s;
            padding-bottom: $spacing-s;
            .logo_n_link{
                gap: $spacing-xl;
                .page_link{
                    display: none;
                }
            }
        }
        .page_link{
            display: flex;
            .button{
                padding-top: $spacing-s;
                padding-bottom: $spacing-s;
                padding-left: $spacing-l;
                padding-right: $spacing-l;
                text-align: center;
                font-size: $font-size-l-md;
                font-weight: $font-weight-l;
                line-height: $line-height-l;
                letter-spacing: $letter-spacing;
                width: 50%;
            }
            .product{
                background-color: $primary-color-200;
            }
            .brand{
                background-color: $primary-color-100;
            }
        }
    }

    .Hero_Section{
        height: 480px;
        background-image: url(../../assets/banner-sm.png);
        padding-left: $spacing-l;
        padding-right: $spacing-l;
        .content{
            gap: $spacing-xl;
            width: 87.2%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .titles{
                gap: $spacing-xs;
                .title{
                    font-size: $font-size-Display-2;
                }
                .subtitle{
                    font-size: $font-size-H5;
                }
            }
        }
    }

    .New_Arrival{
        padding-top: $spacing-2xl;
        padding-bottom: $spacing-2xl;
        .container{
            gap: $spacing-l;
            .titles{
                gap: $spacing-xs;
                .title{
                    font-size: $font-size-H2;
                    font-weight: $font-weight-heading;
                    line-height: $line-height-heading;
                }
                .subtitle{
                    font-size: $font-size-H4;
                }

            }
            .product{
                gap: $spacing-l;
                .card_wrapper{
                    gap: $spacing-s;
                    .card{
                        gap: $spacing-xs;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                        .label{
                            gap: 0;
                            .name{
                                font-size: $font-size-H6;
                            }
                        }
                    }
                }
            }
        }
    }

    
}

