@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');



body{
    max-width: 1920px;
    font-family: "Noto Sans TC", sans-serif;
}



.container{
    margin-left: 16.25%;
    margin-right: 16.25%;
    max-width: 67.5%;
}

.navbar{
    display: flex;
    height: 80px;
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
    justify-content: space-between;
    .logo_and_link{
        display: flex;
        gap: $spacing-3xl;
    }   
}



.navbar_mobile{
    display: none;
}

.hero_section{
    position: relative;

    img{
        width: 100%;
        max-height: 800px;
    }
    .content{
        position: absolute;
        width: 586px;
        height: fit-content;
        display: flex;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        flex-direction: column;
        align-items: flex-start;
        gap:$spacing-3xl;
        color: $neutral-color-0;
        .title{
            display: flex;
            flex-direction: column;
            gap: $spacing-m;
        }
    }
}

.new_arrival{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    background-color: $neutral-color-0;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-xl;
        .title{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: $spacing-s
        }

        .card_wrapper{
            display: flex;
            gap: $spacing-l;
            .product{
                display: flex;
                flex-direction: column;
                gap: $spacing-s;
                cursor: default;
                img{
                    width: 100%;
                    height: 100%;
                }
                .label{
                    gap: $spacing-xxs;
                    color: $neutral-color-900;
                }
                &:hover{
                    opacity: 80%;
                }
            }
        }
    }
    
    
}

.best_seller{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .content{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
        .card_wrapper{
            display: flex;
            gap: $spacing-l;
            max-height: 306px;
            .card_image{
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    
                }
                .badge{
                    position: absolute;
                    padding: $spacing-xs $spacing-s;
                    top: 0px;
                    left: 0px;
                    background-color: $primary-color-100;
                    color: $primary-color-400;
                    cursor: default;
                }
                &:hover{
                    img{
                        opacity: 70%;
                    }
                }
            }
        }
    }
}

.section_sale{
    padding-top: $spacing-3xl;
    padding-bottom: $spacing-3xl;
    .sale{
        background-image: url(../../assets/banner-co-branded.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px $spacing-6xl;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: $spacing-3xl;
            position: relative;
            width: fit-content;
            
            .title{
                display: flex;
                flex-direction: column;
                gap: $spacing-m;
                color: $neutral-color-0;
                text-align: center;
                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: $spacing-l;
                    h1{
                        color: $primary-color-300;
                    }
                }
                .text_p_lg{
                    color: $neutral-color-500;
                }
            }
            .star{
                position: absolute;
                left: -80px;
                top: -32px;
                z-index: 2;
            }
            .sparkle{
                position: absolute;
                right: -40px;
                top: calc(50% - 64px/2 + 71px);
                z-index: 3;
            }
        }
    }
}

.series{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    .content{
        display: flex;
        flex-direction: column;
        gap: $spacing-m;
        color: $neutral-color-900;
        .card_wrapper{
            display: flex;
            //justify-content: space-between;
            gap: $spacing-l;
            max-height: 306px;
            .category{
                position: relative;
                display: inline-block;
                cursor: default;
                max-height: 306px;
                aspect-ratio: 1 / 1;
                img{
                    width: 100%;
                    filter: brightness(60%);
                }
                .label{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-xs;
                    color: $neutral-color-0;
                    
                }
                &:hover{
                    h3{
                        color: $primary-color-300;
                    }
                }
            }
        }
    }
}

.style{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    color: $neutral-color-900;
    .content{
        display: flex;
        flex-direction: column;
        
        gap: $spacing-m;

        .card_wrapper{
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(6,1fr);
            column-gap: $spacing-xs;
            row-gap: $spacing-xs;
            img{
                width: 100%;
                height: 100%
            };
            .left_l_grid{
                grid-column: 5 / 7;
                grid-row: 1 / 3;
            }
            .right_l_grid{
                grid-column: 1 / 3;
                grid-row: 2 / 4;
            }
        }
    }
    
}

.call_to_action{
    padding-top: $spacing-3xl;
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 96px;
        background-color: $primary-color-200;
        padding-top: $spacing-l;
        padding-bottom: $spacing-l;
        gap: $spacing-l;
        color: $neutral-color-900;
    }
}

footer{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
    background-color: $neutral-color-100;

    .container{
        display: flex;
        flex-direction: column;
        gap: $spacing-l;
        .logo_and_link{
            display: flex;
            justify-content: space-between;
            .page_link{
                gap: $spacing-2xl;
                display: flex;
            }
        }
        .copyright{
            padding-top: $spacing-xl;
            border-top: 1px solid $neutral-color-300;
            .text_p_sm{
                color: $neutral-color-600;
                text-align: center;
            }
        }
    }
}