/*color*/

/*primary*/
$primary-color-100: #F5FEE7;
$primary-color-200: #E8FEC5;
$primary-color-300: #C0FA73;
$primary-color-400: #57A203;
$primary-color-500: #477A11;

/*neutral*/
$neutral-color-0: #FFFFFF;
$neutral-color-100: #F8F9FA;
$neutral-color-200: #E9ECEF;
$neutral-color-300: #DEE2E6;
$neutral-color-400: #CED4DA;
$neutral-color-500: #ADB5BD;
$neutral-color-600: #6C757D;
$neutral-color-700: #495057;
$neutral-color-800: #343A40;
$neutral-color-900: #212529;

/*functional: danger*/
$danger-color-300: #D74F4F;

/*spacing*/
$spacing-xxs: 4px;
$spacing-xs: $spacing-xxs * 2;
$spacing-s: $spacing-xxs * 3;
$spacing-m: $spacing-xxs * 4;
$spacing-l: $spacing-xxs * 6;
$spacing-xl: $spacing-xxs * 8;
$spacing-2xl: $spacing-xxs * 10;
$spacing-3xl:$spacing-xxs * 12;
$spacing-4xl:$spacing-xxs * 14;
$spacing-5xl:$spacing-xxs * 16;
$spacing-6xl:$spacing-xxs * 20;

/*font-setting*/



/*font-size*/
$font-size-Display-1: 4rem;
$font-size-Display-2: 3rem;
$font-size-H1: 2.5rem;
$font-size-H2:2rem;
$font-size-H3:1.75rem;
$font-size-H4:1.5rem;
$font-size-H5:1.25rem;
$font-size-H6:1rem;
$font-size-l-lg:1.25rem;
$font-size-l-md:1rem;
$font-size-l-sm:0.875rem;
$font-size-l-xs:0.75rem;
$font-size-p-lg:1.25rem;
$font-size-p-md:1rem;
$font-size-p-sm:0.875rem;
$font-size-p-xs:0.75rem;


/*font:weight*/
$font-weight-display: 700;
$font-weight-heading: 700;
$font-weight-l: 500;
$font-weight-p: 400;

/*font: line-height*/

$line-height-display: 120%;
$line-height-heading: 120%;
$line-height-l: 150%;
$line-height-p: 150%;

/*font: letter spacing*/

$letter-spacing: 0.05em;

/*radius*/

$radius-sm: 4px;
$radius-md: 12px;


